title           { line-height: 150%; }
body            { font-family: sans-serif; background: #eee; line-height: 150%; }
a, h1, h2       { color: #377BA8; line-height: 150%; }
h1, h2          { font-family: 'Georgia', serif; text-align: center; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; line-height: 150%; }
th              { color: #377BA8; text-align: left; }

.page           { margin: 2em auto; width: 40em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.people         { list-style: none; margin: 0; padding: 0; }
.people li      { margin: 0.8em 1.2em; }
.people li h2   { margin-left: -1em; }
.get-query      { font-size: 1.0em; line-height: 150%; border-bottom: 1px solid #ccc; }
.get-person     { font-size: 1.0em; line-height: 150%; border-bottom: 1px solid #ccc; }
