{% extends "layout.html" %}
{% block body %}
<h2>
    <form action="{{ url_for('index') }}">
    <input type="submit" value="Nowe zapytanie"/>
    </form>
</h2>
<br>
<h2>Wyniki wyszukiwania dla:   {{ query }}</h2>
<br>
<form action="{{ url_for('get_person') }}" method="post" class="get-person">
 <ul class="people">
    <table style="width:100%">
        <tr>
            <th>Numer</th>
            <th>Imię i nazwisko</th>
            <th>Data urodzenia</th>
            <th>Akcja</th>
        </tr>
  {% for person in people %}
        <tr>
            <td>{{ person.no }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.date_of_birth }}</td>
            <td><button type="submit" name="user_id" value={{ person.no }}>Wyszukaj</td>
        </tr>
  {% else %}
        <tr><td colspan="4">Brak wyników wyszukiwania</td></tr>
  {% endfor %}
    </table>
</ul>
{% endblock %}
</form>

